.App {
  text-align: center;
}

body{
  background-image: linear-gradient(#8CC0DE,#FF9B9B ,#FAF0D7 );
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 715px;
  max-height: auto;
  
}

h1{
  font-size: 40px;
  font-weight: bolder;
}
input{
  width: 250px;
  height: 40px;
  border-radius:30px ;
  margin-bottom: 30px;
  font-size: 20px;
  background-color: #C4DFDF;
}
input:focus{
  background-color: aliceblue;
}
label{
  font-size: 25px;
}
button{
  width: 250px;
  height: 60px;
  border-radius:30px;
  background-color: #79E0EE;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 20px;
}
#name{
  margin-top: 40px;
}

@media only screen and (min-width:350px) and (max-width:500px){
  body{
   min-height: 100vh;
  }
  h1{
    font-size: 30px;

   }
   label{
    font-size: 20px;
   }
   input{
    width: 200px;
    
   }

   button{
    margin-top: 20px;
   }
 }
